:root{
    --corDeFundo: #fff;
    --corTexto: #137918e7;
    --corDisplay: rgba(27, 26, 26, 0.925);
}

body.dark-theme{
    --corDeFundo: rgba(27, 26, 26, 0.925);
    --corTexto: #000;
    --corDisplay: #fff;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--corDeFundo);
    color: var(--corTexto);
}

header{
    align-self: flex-end;
}

header > button{
    width: 4em;
    height: 4em;
    margin: 1em;
    background: none;
    border: none;
}

img{
    width: 3em;
    height: 3em;
    margin: auto;
}



main{
    display: flex;
    margin: auto;
    background-color: var(--corDisplay);
    width: 25em;
    height: 16em;
    text-align: center;
    border-radius: 1.8em;
    padding: 15px;
}

div{
    margin: auto;
    align-items: center;
    width: 23em;
    padding: 15px;
}

#display{
    font-size: 4em;
}

p{
    font-size: 1.5em;
}